language: go
sudo: false
go:
  - 1.4.3
  - 1.5.1
  - tip
install:
  - go get github.com/golang/lint/golint
script:
  - test -z "$(golint ./... | tee /dev/stderr)"
  - go test -v ./...
  - go test -v -bench .
matrix:
  allow_failures:
    - go: tip
