language: go
sudo: false
branches:
  only:
    - master
    - develop
    - feature/*
go:
  - 1.11.13
  - 1.12.17
  - 1.13.15
  - 1.14.7
  - tip
install:
  - go get golang.org/x/lint/golint
script:
  - test -z "$(golint ./... | tee /dev/stderr)"
  - go vet .
  - go test -v .
  - go test -v -bench . -benchmem
matrix:
  allow_failures:
    - go: tip
